name: Java CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots verify

      - name: Configure Git User
        if: github.ref_name == 'main'
        run: |
          git config user.email "actions@github.com"
          git config user.name "GitHub Actions"

      - name: Create release, if build is on main branch
        if: github.ref_name == 'main'
        run: |
          mvn --batch-mode -DpreparationGoals=clean release:prepare
          mvn --batch-mode -DlocalCheckout=true -Darguments="-Dmaven.test.skip=true" release:perform
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
